<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Text contains a wealth of information, but it mostly comes in unstructured form.
                        Natural Language Processing offers a variety of methods to extract this information:
                        it helps us determine the topics that are covered in a text, the people and places
                        that are mentioned, the sentiment that is expressed, and so on. In this age of 
                        unprecedented data growth, more and more companies are turning to NLP to make sense of their 
			textual data or to interact with their clients in new and exciting ways.  	
                </div>
                <div class="col-lg-4">
                    <p>NLP Town combines a decade of research and development in Natural Language
			Processing with over ten years of experience in software engineering. After having learned
			the tricks of the trade at five universities in five different countries, we are now 
                        applying our expertise to numerous NLP projects in industry. If you would like to make
			the most of your textual data, you've come to the right place.</p>
                </div>
            </div>
        </div>
    </section>
