 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Text contains a wealth of information, but it mostly comes in unstructured form. Natural Language Processing offers a variety of methods to extract this information: it helps us determine the topics that are covered in a text, the people and places that are mentioned, the sentiment that is expressed, and so on. If you would like to analyze your textual data and turn it into practical insight, you’ve come to the right place.</p>
                </div>
                <div class="col-lg-4">
                    <p>I specialized in Natural Language Processing during my PhD at the University of Leuven, and further expanded my expertise as a researcher at Stuttgart University and Stanford University. In recent years, I have implemented various NLP projects in industry. Take a look at my services above or check out my blog below to see what floats my boat. Or just get in touch directly.</p>
                </div>
            </div>
        </div>
    </section>
