      <!-- About Us -->
      <section class="g-py-100" id="about">
        <div class="container">
          <header class="text-center g-width-60x--md mx-auto g-mb-60">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
              <h2 class="h3 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-600">About Our Company</h2>
            </div>
            <p class="lead g-color-gray-dark-v4">
                        Text contains a wealth of information, but it mostly comes in unstructured form.
                        In this age of
                        unprecedented data growth, more and more companies are turning to
                        Natural Language Processing to make sense of their
                        textual data or to interact with their clients in new and exciting ways.
                        NLP helps them determine the topics that are covered in a text, the people and places
                        that are mentioned, the sentiment that is expressed, etc.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-6 align-self-center">
              <img class="img-fluid" src="../../assets/img/inline/inline5.png" alt="Image description">
            </div>

            <div class="col-lg-6 align-self-center g-pl-30--lg g-mb-50 g-mb-0--lg">
              <p class="g-mb-30">
                        NLP Town combines a decade of research and development in Natural Language
                        Processing with over ten years of experience in software engineering.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                    <li class="d-flex g-mb-10">
                      <i class="icon-arrow-right-circle g-color-primary g-mt-5 g-mr-10"></i> Natural Language Understanding
                    </li>
                    <li class="d-flex g-mb-10">
                      <i class="icon-arrow-right-circle g-color-primary g-mt-5 g-mr-10"></i> Information Extraction
                    </li>
                    <li class="d-flex g-mb-10">
                      <i class="icon-arrow-right-circle g-color-primary g-mt-5 g-mr-10"></i> Text Analytics
                    </li>
                  </ul>
                </div>

                <div class="col-sm-6">
                  <ul class="list-unstyled g-color-gray-dark-v4">
                    <li class="d-flex g-mb-10">
                      <i class="icon-arrow-right-circle g-color-primary g-mt-5 g-mr-10"></i> Named Entity Recognition
                    </li>
                    <li class="d-flex g-mb-10">
                      <i class="icon-arrow-right-circle g-color-primary g-mt-5 g-mr-10"></i> Sentiment Analysis
                    </li>
                    <li class="d-flex g-mb-10">
                      <i class="icon-arrow-right-circle g-color-primary g-mt-5 g-mr-10"></i> Semantic Search
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us -->
