            <!-- Author -->
            <div class="g-brd-top g-brd-gray-light-v3 g-pt-10 g-pb-10">
              <div class="row justify-content-center">
                <div class="media">
                  <img class="d-flex g-width-100 g-height-100 rounded-circle g-mr-30" src="/images/team/yves.jpg" alt="Yves Peirsman">
                  <div class="media-body">
                    <h4 class="h5 g-color-black g-font-weight-600">Yves Peirsman</h4>
                    <p class="g-color-gray-dark-v5 mb-4">Yves discovered Natural Language Processing 13 years ago as an MSc student at the University of Edinburgh, and has never looked back.
                    With a background as a researcher and developer in academia (University of Leuven, Stanford University) and industry (Textkernel, Wolters Kluwer), he founded NLP Town
                    to further indulge and spread his love for NLP.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Author -->
