<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.skryv.be">
                        <img src="img/logos/skryv.jpg" class="img-centered" alt="" height="50">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.oneliner.be">
                        <img src="img/logos/oneliner.jpg" class="img-centered" alt="" height="50">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.scriptbook.io">
                        <img src="img/logos/scriptbook.jpg" class="img-centered" alt="" height="50">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.4gclinical.com">
                        <img src="img/logos/4gclinical.jpg" class="img-centered" alt="" height="50">
                    </a>
                </div>
            </div>
        </div>
    </aside>
