        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <br /> <br />
                    <h1>#NLP4Gov: the first Belgian NLP Hackathon</h1><br /><br />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
<p><strong>Have you always been keen to apply language technology to improve society? This is your chance!</strong></p>

<p>From Monday 8 October to Wednesday 17 October NLP Town is organizing a Natural Language Processing Hackathon with a focus on legal and administrative NLP. The hackathon is hosted by Informatie Vlaanderen and sponsored by technology leader SAP. Start-ups, students, professional and hobby NLPers will get the opportunity to develop prototype NLP applications that can make our government smarter and more efficient.</p>

<p>The hackathon takes the form of a sprint, where teams get 10 days to work on a focused project. Every team should consist of two to five people. On Monday 8 October, the first day of the sprint, our government will present the most pressing use cases where NLP could help them out. After this introduction, the teams can start designing and implementing their applications. All day, government officials will be available to answer their questions and to help make their solutions as useful as possible.</p>

<p>After this introductory day, teams get just over a week to implement their solutions. On Wednesday 17 October, they come back together to finalize their applications and prepare their pitches. In the morning, government officials will again be present to lend a helping hand. In the afternoon, the teams showcase their NLP solutions. A jury will select the most promising applications and award three prizes, provided by technology sponsor SAP: a first prize (€3.000), a startup prize (€2.000), and a student team prize (€2.000).</p>

<p>Participation is free, but registration is compulsory. Every team member has to register individually. There is a maximum of 100 participants, so don’t wait until it’s too late.
You can register <a href="https://dynamicforms.crmiv.vlaanderen.be/Eventmodule/Page/Show/869df4b5-4f8b-4dd4-a978-5a645bb813c7?PreFillIds=203e599c-5107-e811-813e-e0071b66c0a1,1814fd64-1a90-e811-816d-e0071b647f91">here</a>.</p>

<p><strong>Where:</strong> <a href="https://www.vlaanderen.be/nl/vlaamse-overheid/dirk-boutsgebouw-vac-leuven">Dirk Bouts Building Vlaamse Overheid, Leuven, Belgium</a></br>
<strong>When:</strong> Monday 8 October and Wednesday 17 October, from 10am to 5pm</br>
<strong>Who:</strong> NLPers in teams of 2 to 5 people</br>
<strong>More information (in Dutch):</strong> <a href="https://overheid.vlaanderen.be/opleiding/nlp4gov-de-eerste-belgische-nlp-hackathon">here</a></p>

<h3>Organizer</h3>
<p><a href="http://nlp.town">NLP Town</a> provides consultancy and software development in Natural Language Processing. We help companies unlock the potential in unstructured text.</p>

<h3>Sponsor</h3>
<p>SAP is the exclusive technology sponsor of the hackathon. As the 4th largest software company in the world, SAP supports companies and organizations in their digital transformation path and helps them become ‘Intelligent Enterprises’, which turn digital challenges into optimal business results.</p>

<p>SAP will provide participants with credits for their Cloud Platform, so that the teams can use these resources during the hackathon. On October 1st and 4th there will be two webinars to introduce participants to the platform. To register for these webinars, you can e-mail philippe.nemery@sap.com.</p>

<h3>Program<h3>

<p>
<table>
  <tr>
    <th colspan="2">Monday 8 October</th>
  </tr>
  <tr>
    <td style="width:120px">9:00-10:00</td>
    <td>Doors Open</td>
  </tr>
  <tr>
    <td>10:00-12:00</td>
    <td>Introduction to the hackathon and the use cases</td>
  </tr>
  <tr>
    <td>12:00-13:00</td>
    <td>Lunch</td>
  </tr>
  <tr>
    <td>13:00-17:00</td>
    <td>Teams start developing their prototypes. Government officials are present to help them develop the most relevant applications possible.</td>
  </tr>
</table>
</p>

<p>
<table>
  <tr>
    <th colspan="2">Wednesday 17 October</th>
  </tr>
  <tr>
    <td style="width:120px">9:00-12:00</td>
    <td>Teams finish their prototype and prepare their pitch. Government officials are again present to lend a helping hand.</td>
  </tr>
  <tr>
    <td>12:00-13:00</td>
    <td>Lunch</td>
  </tr>
  <tr>
    <td>13:00-16:00</td>
    <td>Pitches</td>
  </tr>
  <tr>
    <td>16:00-16:30</td>
    <td>Jury deliberation</td>
  </tr>
  <tr>
    <td>16:30-18:00</td>
    <td>Award ceremony and reception</td>
  </tr>
</table>
</p>
                </div>
            </div>
        </div>
