      <!-- Promo Block -->
      <!-- <section class="g-bg-cover nlpgreen g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: /images/nlp-town.png);"> -->
      <section class="g-bg-cover nlpgreen g-bg-pos-top-center g-bg-img-hero g-min-height-100vh g-flex-centered g-py-100" style="background-image: /images/nlp-town.png);">
        <div class="container g-color-white text-center g-z-index-1">
          <div class="mb-5">
            <img src="/images/nlp-town.png" width=400>
            <br /><br />
            <h2 class="g-font-weight-700 g-font-size-40 g-font-size-70--md text-uppercase g-mb-30">
              <span class="u-text-animation u-text-animation--typing"></span>
            </h2>
            <p class="g-font-size-24">NLP Consultancy and Development</p>
          </div>

        </div>
      </section>
      <!-- End Promo Block -->
