    <!-- Header -->
    <header>
        <div class="container">
            <img class="img-centered-padding" src="/img/logos/meetup.png" width=250>
            <div class="intro-text">
                <div class="intro-lead-in">Belgium NLP Meetup</div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <p class="header">NLP Town is the proud organizer of the <a href="https://www.meetup.com/nl-NL/Belgium-NLP-Meetup/">Belgium
                            NLP Meetup</a>,<br />a three-monthly get-together of
                            NLPers in Belgium.
                            </p>
                        </div>
                        <div class="col-md-3"></div>   
                    </div>   
                </div>
            </div>
        </div>
    </header>
