   <!-- Navigation -->
      <header id="js-header" class="u-header u-header--sticky-top">
        <div class="u-header__section u-header__section--light g-transition-0_3">
          <nav class="js-mega-menu navbar navbar-toggleable-md">
            <div class="container">
              <!-- Logo -->
              <a href="http://www.nlp.town" class="navbar-brand">
                <img width=100 src="/images/nlp-town.png" alt="Image Description">
              </a>
              <!-- End Logo -->

              <!-- Navigation -->
              <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                  <li class="nav-item g-mx-10--lg g-mx-15--xl">
                    <a class="nav-link g-color-primary--hover g-color-white" href="/#about">About</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl">
                    <a class="nav-link g-color-primary--hover g-color-white" href="/#blog">Blog</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl">
                    <a class="nav-link g-color-primary--hover g-color-white" href="/#team">Team</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header -->
