<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Services</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Information Extraction</h4>
                    <p class="text-muted">Information Extraction is the task of identifying
                        useful information in unstructured documents. Depending on your task, 
			this information can vary from definitions in legislation or entities
			(such as people, organizations and locations) in newspaper articles,
			to career information in CVs or judgments in court proceedings. Whenever
			information is expressed in a consistent manner, we can develop methods
			to find it automatically.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-files-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Text Categorization</h4>
                    <p class="text-muted">
			Text categorization is at the heart of many indispensible tools that people
			have become accustomed to.
                        E-mail software uses spam filters to distinguish between useful e-mails
			Text categorization is at the heart of many indispensible tools today.
                        and spam, media organizations rely on computational semantics to detect the topics
                        of news articles, and customer-centric companies apply sentiment analysis
                        to tweets and reviews to determine what their customers are cheering or 
                        complaining about.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Semantic Search</h4>
                    <p class="text-muted">
  			Today users expect more from a search engine than a system that simply
  			returns a list of documents with the words they typed in. 
  			Modern search engines scan their text collection for synonyms,
  			learn the topics of a text, or identify entities and the relations between them. 
			In this way they can present their users with more relevant and personalized
			search results.</p>	
                </div>
            </div>
        </div>
    </section>
